nav {
  display: flex;
  font-family: Bungee, sans-serif;
  height: 120px;
  width: 100%;
  color: #FFFF;
  background-color: #4056A1;
  padding-left: 1.5em;
  padding-right: 1.5em;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

.nav-left {
  display: flex;
  font-size: 50px;
  
}

.nav-right {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: sans-serif;
  font-size: 30px;
}

.fa-angle-double-down {
  color: red;
} 

button {
  background-color: #4056A1;
}
