.tweet {
  background-color: #f4f1ec;
  border: 7px solid black;
  padding: 25px
}

.tweet:hover {
  box-shadow: 12px 12px 2px rgba(0, 0, 255, .2);
}

.tweet-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  font-family: unset;
  font-weight: 900;

}

.tweet-header > div {
  display: flex;
  align-items: center;
  font-family: cursive;
  opacity: 0.5
}

.tweet-footer {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  border-top: 1px solid black;
  margin-top: 15px;
}

.tweet-footer i:hover {
  color: orange
}

.tweet {
  background-color: #F4EEE8;
  width: 100%;
  height: 100%;
  margin: 40px 0;
  padding: 25px;
  border: 4px solid black;
}

.input-error{
  background: #c23960;
  color: white;
  padding: 10px;
  border-radius: 0 ;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.input-error > div {
  display: flex;
  align-items: center;
}
